@model WebApplication1.Models.Article

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<h4>Article</h4>
<hr />
<div>
    <div class="form-group">
        <label>Name</label>
        <p>@Model.Name</p>
    </div>
    <div class="form-group">
        <label>Price</label>
        <p>@Model.Price</p>
    </div>
    <div class="form-group">
        <label>Category</label>
        <p>@Model.Category.Name</p>
    </div>
    <label>Image</label>
    <div class="form-group">
        <img src="@Url.Content("~/uploads/" + Model.ImagePath)" alt="Article Image" class="img-fluid" />
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
